{% extends 'base.html' %}

{% block title %}
Settings
{% endblock %}



{% block body %}

<h1>Settings</h1>

<div class="tab">
  <button type="button" class="btn btn-primary tablinks" onclick="openTab(event, 'changePassword')">Change password</button>
  <button type="button" class="btn btn-danger tablinks" onclick="openTab(event, 'deleteAccount')">Delete account</button>
</div>

<div id="changePassword" class="tabcontent">
    <h3>Change password</h3>
</div>

<div id="deleteAccount" class="tabcontent">
    <h3>Delete account</h3>
</div>

<script src="../static/js/script.js"></script>
{% endblock %}